<!-- This section is for header.ejs -->
<%- include("../views/partials/header.ejs") %>

<h1>About</h1>
<p><%= aboutContent %></p>

<!-- This section is for footer.ejs -->
<%- include("../views/partials/footer.ejs") %>
