<!-- This section is for header.ejs -->
<%- include("../views/partials/header.ejs") %>

<h1>Compose</h1>
<form action="/" method="post">
  <input type="text" name="title">
  <button type="submit" name="btn">Publish</button>
</form>

<!-- This section is for footer.ejs -->
<%- include("../views/partials/footer.ejs") %>
