<!-- This section is for header.ejs -->
<%- include("../views/partials/header.ejs") %>

<h1>Contact</h1>
<p><%= contactContent %></p>

<!-- This section is for footer.ejs -->
<%- include("../views/partials/footer.ejs") %>
