<!-- This section is for header.ejs -->
<%- include("../views/partials/header.ejs") %>

<h1>Posts</h1>
<h1><%= blogTitle %></h1>
<p><%= blogContent %></p>

<!-- This section is for footer.ejs -->
<%- include("../views/partials/footer.ejs") %>
